@use "../styles/reportDetailBase" as *;
@use "../../../styles/themes/variables" as *;

.rp-cr-top {
  font-size: 15px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rp-detail-date-error {
  font-size: 12px;
  color: $danger;
  margin-top: 5px;
}

.rp-cr-sort-field {
  min-width: 200px;

  .form-select { width: 100%; }
}

.rp-cr-filter-field {
  width: 100%;

  .form-select { width: 100%; }
}
