@use "../styles/reportDetailBase" as *;

.rp-ps-product {
  max-width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rp-ps-payment {
  text-transform: capitalize;
}

