/* ================= BASE COLORS ================= */

$white: #ffffff;
$black: #000000;

/* ================= DASHBOARD COLORS ================= */

$dashboard-bg: #ffffff;
$dashboard-card-bg: #ffffff;

$dashboard-primary: #111827;
$dashboard-secondary: #6b7280;

$dashboard-border: #e5e7eb;

/* Sidebar */
$sidebar-bg: #010102;
$sidebar-text: #9ca3af;
$sidebar-active: #ffffff;
$sidebar-hover: #1f2937;

/* Cards */
$card-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
$card-radius: 12px;

/* Buttons */
$btn-primary: #000000;
$btn-hover: #333333;

/* Badge */
$badge-bg: #ef4444;