.object-fit-cover {
  object-fit: cover;
}

/* Remove Bootstrap glow */
.form-control:focus {
  box-shadow: none !important;
  border-color: #000 !important;
  
}

/* Optional: softer background */
.bg-light {
  background-color: #f3f4f6 !important;
}