.object-fit-cover {
  object-fit: cover;
}

.software-btn {
  height: 55px;
  border-radius: 50px;
  border: 1px solid #e5e7eb;
  background: #f3f4f6;
  text-align: left;
  padding-left: 25px;
  font-weight: 500;
  transition: 0.2s ease;
}

.software-btn:hover {
  background: #e5e7eb;
}

.software-btn.active {
  border: 2px solid #111827;
  background: #ffffff;
  color: #111827;
  font-weight: 600;
}

.software-btn:focus {
  box-shadow: none !important;
}