.emergency-modal-body {
  padding: 8px 4px;
  overflow-x: hidden;

  .row {
    display: flex !important;
    flex-wrap: wrap !important;
  }
}

.emergency-modal-footer {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  
  .btn {
    border-radius: 20px;
    font-weight: 600;
  }
}